dist: trusty
sudo: required
group: beta
language: node_js
node_js:
  - "8"
cache:
  directories:
    - node_modules
matrix:
  fast_finish: true
before_script:
  - truffle version
script:
  - npm run lint
  - npm run coverage
  - npm run test-gas